body {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

header, footer {
    background-color: black;
}

ul {
    list-style-type: square;
}

ul li:nth-child(odd) {
    background-color: #f2f2f2;
  }

  a {
    text-decoration: none;
  }

  a:link{
    background-color: beige;
    border: dotted;
    }

    a:link:hover {
        background-color: green;
    }

    h3 {
        font-weight: lighter; line-height: 150%;
    }

    span {
        font-weight: bold;
    }

    dl {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
      }
      
      dt {
          font-weight: bold;
      }

.site-title {
    color: green;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.hp  {
    float: left;    
     margin: 0 15px 0 0;
    }

.footer-text {
    color: white;
}