/** {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  }

  body .wrapper {
    padding: 1rem;
    margin: auto;
    max-width: 1200px;
  }

  header {
    background-color: #222;
  }

  header img {
    max-width: 100px;
    height: auto
}

ol, ul {
	list-style: none;
}

  /* Navigation */

  /*nav {
    background-color: #c78c06;
  }

  nav form, nav ul {
    text-align: center;
  }

  nav ul li:nth-child(n+2), nav form{
    background-color: #222;
}

  nav ul li:nth-child(1) a{
    color:#222;
}

nav ul li:nth-child(n+2) a{
    color:#c78c06;
}

  li {
    padding: 1rem;
  }

  nav li a {
text-decoration: none;
  }

  /*Search Bar */

  /*form {
    display: flex;
  }

  form input {
    width: 90%;
    padding: 1rem;
    border: solid 1px #c78c06;
  }

  .material-symbols-outlined {
    color: #c78c06;
    font-size: 35px;
}

#click {
    background-color: #222;
    border: solid 1px #c78c06;
}

/* Main Page */

/*main {
    img
}

.main-img {
    width: 100%;
    height: auto; 
}


























*/

body{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

header {
    height: 480px;
    width: auto;
    background-color: #222;
}


img {
    width: 100%;
    height: auto;   
}

header img {
    max-width: 100px;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 110%;
    color: #fff;
    padding: 50px
    font-weight: bold;
}

.banner-text p {
    position: absolute;
    top: 100%;
    color: #fff;
    padding: 20px
}


#rectangle {
    background-color: #c78c06;
    margin: 1em;
    height: calc(100px + 1em);
}

nav ul {
list-style: none;
padding: 0;

}

nav ul .list-item {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 100%;
    display: flex;
}

nav ul .list-item a {
    text-decoration: none;
    width: 100%;
    color: #c78c06;
    padding: 1em;
  }

nav ul .list-item a:hover {
    color: #222;
    background-color: #c78c06;
}



nav ul li:nth-child(1) a {
    color: rgb(34, 34, 34);
   
}

/*nav ul li:nth-child(2) a {
    color: rgb(196, 142, 43);
}

nav ul li:nth-child(3) a {
    color: rgb(196, 142, 43);
}

nav ul li:nth-child(4) a {
    color: rgb(196, 142, 43);
}

nav ul li:nth-child(5) a {
    color: rgb(196, 142, 43);
} */

nav input {
    height: 40px;
    width: 100%

}
nav button {
    width: 4em;

}

nav form {
    display: flex;



}

.material-symbols-outlined {
    color: #c78c06;
    font-size: 35px;
}

#click {
    background-color: #222;
    border: solid 1px #c78c06;
}


#main-container {
    background-color: transparent;
    width: ;
}


