header {
    height: 750px;
    width: auto;
    background-color: #222;
}
img {
    width: 100%;
    height: auto;   
}

header img {
    max-width: 100px;
}

#rectangle {
    background-color: rgb(196, 142, 43);
    margin: 1em;
    height: calc(100px + 1em);
}

#rectangle {
    background-color: rgba(196, 142, 43, 0.253);
    margin: 5em;
    height: calc(50px + 1em);
}

nav ul {
list-style: none;
padding: 0;

}

nav ul .list-item {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 100%;
    display: flex;
}

nav ul .list-item a {
    text-decoration: none;
    width: 100%;
    color: rgb(196, 142, 43);
    padding: 1em;
  }

nav ul .list-item a:hover {
    color: #222;
    background-color: rgb(196, 142, 43);
}


/*
nav ul li:nth-child(1) a {
    color: rgb(34, 34, 34);
   
}

nav ul li:nth-child(2) a {
    color: rgb(196, 142, 43);
}

nav ul li:nth-child(3) a {
    color: rgb(196, 142, 43);
}

nav ul li:nth-child(4) a {
    color: rgb(196, 142, 43);
}

nav ul li:nth-child(5) a {
    color: rgb(196, 142, 43);
} */

nav input {
    height: 40px;
    width: 100%

}
nav button {
    width: 4em;

}

nav form {
    display: flex;

}



